 h1 {
  width: 231px;
  height: 20px;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
}

p {
  margin: 0;
  padding: 0;
  width: 189px;
  height: 35px;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}


* {
  width: 231px;
  height: 41px;
}

.container {
  height: 70px;
  width: 800px;
  margin: 40px auto 0 auto;
}

.parent {
  position: relative;
}

.search {
  width: 300px;
  height: 40px;
  border-radius: 32px;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 20px;
}

.btn {
   height: 35px;
   width: 35px;
   position: absolute;
   background: url("css/images/Search.png") no-repeat -2px -99px;
   top: 6px;
   left: 285px;
   border: none;
   outline: none;
   cursor: pointer;
}

.p{
  width: 41px;
  height: 16px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a9a9a9;
}

.boss{
  width: 902px;
  height: 70px;
  margin: 5px auto;
  overflow: hidden;
  
}

.boss div{
	width: 60px;
	height: 60
	border: solid 1px gray;
	float: left;
	margin-left: 20px;
}

.boss div img {
   display: block;	
   width:51px;
   height:51px;
}


ul{
   list-style: none;
}

.box{
   width:450px;
   height: 600px;
   
   margin: 1px auto 0;
   overflow: hidden;
}
 
.box ul{
   width:500px;
   margin: 20px 0 13px -20px; 
}

.box ul li img{
   width: 160px;
   height: 224px;
   border-radius: 8px;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

}

.box ul li{
    width: 160px;
    height: 100px;
    float:left;
    margin: 0 29px 25px 15;
}

.rectangle {
  width: 414px;
  height: 100px;
  object-fit: contain;
  background-color: #000000;
}